<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="AdventureWorksLT_DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AdventureWorksLT_Data.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms" />
  <pages theme="CzerwonaSkorka"/>
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="AdventureWorks" connectionStringName="AdventureWorksLT_DataConnectionString" />
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="AdventureWorks" connectionStringName="AdventureWorksLT_DataConnectionString" />
      </providers>
    </membership>

    <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
 <system.net>
  <mailSettings>
   <smtp from="adventureworks@onet.pl">
    <network host="smtp.poczta.onet.pl" password="adventureworks1"
     port="587" userName="adventureworks@onet.pl" />
   </smtp>
  </mailSettings>
 </system.net>
</configuration>
